# packages in environment at C:\Users\Mark\Anaconda3\envs\MIDBot:
#
# Name                    Version                   Build  Channel
aiohttp                   3.6.1            py38he774522_0  
asn1crypto                1.3.0                    py38_0  
async-timeout             3.0.1                    py38_0  
attrs                     19.3.0                     py_0  
autopep8                  1.4.4                      py_0  
blas                      1.0                         mkl  
ca-certificates           2020.1.1                      0  
certifi                   2019.11.28               py38_0  
cffi                      1.13.2           py38h7a1dbc1_0  
chardet                   3.0.4                 py38_1003  
cryptography              2.8              py38h7a1dbc1_0  
icc_rt                    2019.0.0             h0cc432a_1  
idna                      2.8                   py38_1000  
intel-openmp              2020.0                      166  
krb5                      1.16.4               hc04afaa_0  
libpq                     11.2                 h3235a2c_0  
mkl                       2020.0                      166  
mkl-service               2.3.0            py38hb782905_0  
mkl_fft                   1.0.15           py38h14836fe_0  
mkl_random                1.1.0            py38hf9181ef_0  
multidict                 4.7.3            py38he774522_0  
numpy                     1.18.1           py38h93ca92e_0  
numpy-base                1.18.1           py38hc3f5095_1  
openssl                   1.1.1d               he774522_4  
pandas                    1.0.0            py38h47e9c7a_0  
pip                       20.0.2                   py38_1  
psycopg2                  2.8.4            py38h7a1dbc1_0  
pycodestyle               2.5.0                    py38_0  
pycparser                 2.19                       py_0  
pyopenssl                 19.1.0                   py38_0  
pysocks                   1.7.1                    py38_0  
python                    3.8.1                h5fd99cc_1  
python-dateutil           2.8.1                      py_0  
pytz                      2019.3                     py_0  
requests                  2.22.0                   py38_1  
rope                      0.16.0                     py_0  
setuptools                45.1.0                   py38_0  
six                       1.14.0                   py38_0  
sqlalchemy                1.3.13           py38he774522_0  
sqlite                    3.31.1               he774522_0  
tk                        8.6.8                hfa6e2cd_0  
urllib3                   1.25.8                   py38_0  
vc                        14.1                 h0510ff6_4  
vs2015_runtime            14.16.27012          hf0eaf9b_1  
wheel                     0.34.2                   py38_0  
win_inet_pton             1.1.0                    py38_0  
wincertstore              0.2                      py38_0  
yarl                      1.4.2            py38he774522_0  
zlib                      1.2.11               h62dcd97_3  
Package         Version            
--------------- -------------------
aiohttp         3.6.1              
asn1crypto      1.3.0              
async-timeout   3.0.1              
attrs           19.3.0             
autopep8        1.4.4              
certifi         2019.11.28         
cffi            1.13.2             
chardet         3.0.4              
cryptography    2.8                
idna            2.8                
mkl-fft         1.0.15             
mkl-random      1.1.0              
mkl-service     2.3.0              
multidict       4.7.3              
numpy           1.18.1             
pandas          1.0.0              
pip             20.0.2             
psycopg2        2.8.4              
pycodestyle     2.5.0              
pycparser       2.19               
pyOpenSSL       19.1.0             
PySocks         1.7.1              
python-dateutil 2.8.1              
pytz            2019.3             
requests        2.22.0             
rope            0.16.0             
setuptools      45.1.0.post20200127
six             1.14.0             
SQLAlchemy      1.3.13             
urllib3         1.25.8             
wheel           0.34.2             
win-inet-pton   1.1.0              
wincertstore    0.2                
yarl            1.4.2              
